<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-webapp"/>
        <listEntry value="archetypeVersion=1.0"/>
        <listEntry value="groupId=gregoriofer.local"/>
        <listEntry value="artifactId=E3_SESIONES_Y_COOKIES"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=gregoriofer.local.E3_SESIONES_Y_COOKIES"/>
        <listEntry value="outputDirectory=C:\Users\matmense\Desktop\2DAM\Acceso a Datos - Ruth\workspaceEclipse"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\matmense\AppData\Local\Temp\m2e-archetypeGenerator17739968856023918939"/>
</launchConfiguration>
